.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 37px;
    text-align: center;
    color: #293264;
    margin-bottom: 7px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #293264;
    margin-bottom: 30px;
}

.startButton {
    border-radius: 15px;
    padding: 15px 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

@media screen and (min-width: 600px) {
    .title {
        font-size: 52px;
        margin-bottom: 40px;
    }

    .description {
        font-size: 32px;
        margin-bottom: 60px;
    }

    .startButton {
        font-size: 26px;
        padding: 20px 90px;
    }
}
