.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 37px;
    text-align: center;
    color: #293264;
    margin-bottom: 7px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #293264;
    margin-bottom: 20px;
}

.startButton {
    border-radius: 15px;
    padding: 15px 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 30px;
}

.optionList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.optionList p {
    font-size: 16px;
    text-align: center;
}

.optionList select,
.optionList input {
    font-size: 12px;
    text-indent: 5px;
    border-radius: 5px;
    padding: 5px 0;
}
.optionList label {
    font-size: 12px;
}

@media screen and (min-width: 600px) {
    .title {
        font-size: 52px;
        margin-bottom: 40px;
    }

    .description {
        font-size: 32px;
    }

    .startButton {
        font-size: 26px;
        padding: 20px 90px;
        margin-top: 60px;
    }
    .optionList {
        gap: 10px;
        margin-top: 20px;
    }

    .optionList p {
        font-size: 24px;
    }

    .optionList select,
    .optionList input {
        font-size: 16px;
        padding: 10px 0;
        text-indent: 10px;
    }
    .optionList label {
        font-size: 18px;
    }
}
