.quiz {
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 20px 0;
}

.checkButton {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
}

@media screen and (min-width: 800px) {
    .checkButton {
        font-size: 26px;
        padding: 20px 90px;
    }
    .quiz {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }
}
