* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: url("blob_blue.png") no-repeat, url("blob_yellow.png") no-repeat;
    background-size: 300px, 300px;
    background-position: left bottom, right top;
    background-color: #f5f7fb;
    height: 100vh;
}

.btn {
    background: #4d5b9e;
    color: #f5f7fb;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #6678d4;
}

.btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
